@font-face {
    font-family: 'Vitro_core';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/Vitro_core.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


body {
    /* Image Cited from => https://wallpapercave.com/wallpaper-gif */
    background-image: url("https://wallpapercave.com/wp/wp2757890.gif");        
    color: honeydew;
}

.signInSection {
    border: 3px solid honeydew;
    border-radius: 50px;
    position: absolute;
    right: 20%;
    padding: 70px 5px 150px 5px;
    bottom: 15%;
    width: 25%;
    text-align: center;
}

#welcomeMessage {
    text-align: center;
    font-family: 'Vitro_core';
    margin-top: 0;
    margin-bottom: 0;
}

#logoImage {
    width: 70px;
    height: 70px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 8%;
}

.signInForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

#emailForm, #passwordForm {
    width: 60%;
    height: 30px;
    margin-top: 10px;
    text-align: center;
    background-color: honeydew;
    border-color: transparent;
    border-radius: 100px;
    
}

#signInButton {
    width: 45%;
    height: 35px;
    margin-top: 15px;
    border-radius: 100px;
    background-color: honeydew;
    border-color: transparent;
    transition: 0.2s;
}

#googleButton, #githubButton {
    width: 45%;
    height: 35px;
    margin-top: 10px;
    border-radius: 100px;
    background-color: honeydew;
    border-color: transparent;
    transition: 0.2s;
}

#signInButton:hover, #googleButton:hover, #githubButton:hover {
    color: black;
    background-color: cornflowerblue;
}

.changeMessage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    margin-bottom: 40px;
}

#altMessage {
    margin-bottom: 0;
    text-align: center;
}

.altLogin {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}
